#border {
    border-width: 20px;
    border-style: solid;
    height: 300px;
    width: 300px;
    margin: 100px auto;
    border-radius: 50%;
    text-align: center;
}

#detik {
    font-size: 100px;
    font-weight: bold;
    margin-top: 5px;
}

#jam,
#titik,
#menit {
    font-size: 50px;
    font-weight: bold;
}

.black {
    background-color: black;
}

@keyframes sticky-parallax-header-move-and-size {
    from {
        background-position: 50% 0;
        height: 100vh;
        font-size: calc(4vw + 1em);
    }

    to {
        background-position: 50% 100%;
        background-color: #ffffff;
        height: 10vh;
        font-size: 2em;
    }
}

#sticky-parallax-header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(212, 212, 212);
    animation: sticky-parallax-header-move-and-size linear forwards;
    animation-timeline: scroll();
    animation-range: 0vh 90vh;
}

body {
    padding-top: 100vh;
}